@use "../../styles/helpers/" as *;

.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;
   img {
      width: 400px;
      height: 400px;
   }
}

.box {
   display: flex;
   justify-content: space-between;
   width: 550px;
}

.title {
   @include text-heading-1;
}

.text {
   @include text-heading-2;
}

.description {
   @include text-main;
}
