#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
   max-height: 100%;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

.no-scroll {
   overflow: hidden;
   height: 100%;
}
