.controls {
   display: flex;
   gap: 20px;
   margin-bottom: 20px;
}

.searchInput {
   padding: 8px;
   font-size: 16px;
   width: 300px;
}

.categorySelect {
   padding: 8px;
   font-size: 16px;
}
